* {
    margin: 0;
    font-family: 'Roboto';
    text-decoration: none;
    color: white;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'TaagraBold';
    src: local('TaagraBold'), url(./assets//fonts/TaagraBold.otf) format('opentype');
}

@font-face {
    font-family: 'TaagraCalligraphy';
    src: local('TaagraCalligraphy'), url(./assets//fonts/TaagraCalligraphy.otf) format('opentype');
}

@font-face {
    font-family: 'TaagraScratched';
    src: local('TaagraScratched'), url(./assets//fonts/TaagraScratched.otf) format('opentype');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./assets//fonts/Roboto-Bold.ttf) format('ttf');
}

body {
    background-image: url('./assets/images/parchment.jpg');
    background-attachment: fixed;
}

#main {
    height: 1200px;
}

.optionBar {
    position: fixed;
    background-color: rgb(34, 34, 34);
    height: 1000px;
}

textarea {
    margin-top: 100px;
    resize: none;
    color: black;
    margin-bottom: 70px;
    border-style: none;
    outline: none;
    
}

.menu {
    cursor: pointer;
    padding-left: 10px;
    transition: ease-in, 200ms;
    font-size: 20px;
    background-color: rgb(49, 49, 49);
    margin-top: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 1px;
}

.menu:hover {
    background-color: rgb(163, 163, 163);
}

.optionMenu {
    position: fixed;
    left: -300px;
    font-size: 20px;
    margin-top: -41px;
    width: 300px;
    background-color: rgb(34, 34, 34);
}

.option {
    padding-top: 15px;
    background-color: rgb(49, 49, 49);
    padding-bottom: 15px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.option:hover {
    transition: ease-in, 200ms;
    background-color: rgb(163, 163, 163);
}

.title {
    margin-left: 4px;
    position: relative;
    top: 25px;
    font-size: 26px;
}

.info1 {
    position: relative;
    top: 97px;
    left: 5px;
}

.selectedFont {
    margin-top: 20px;
    margin-left: 10px;
}

.downloadButton {
    transition: ease-in, 200ms;
    background-color: rgb(49, 49, 49);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    width: 180px;
}

.downloadButton:hover {
    background-color: rgb(163, 163, 163);
}

.downloadButton>a {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.resultScreen {
    margin-left: 280px;
}

.result {
    margin-top: -50px;
}

.displayLimit {
    position: absolute;
    z-index: -1;
    top: 950px;
    margin-left: -18px;
    border-bottom-style: solid;
    border-color: red;
    width: 100vw;
}

.warning {
    position: absolute;
    left: auto;
    color: black;
    top: 920px;
    font-size: 25px;
    right: 20px;
}

.mobileInput {
    display: none;
}

.menu:hover>.optionMenu {
    position: fixed;
    flex-direction: column;
    left: 266px;
    font-size: 20px;
    margin-top: -41px;
    width: 300px;
    background-color: rgb(34, 34, 34);
}

.optionMenuMobile{
    display: none;
}

@media only screen and (max-width: 1023px) {
    .resultScreen{
        display: none;
    }
    .optionBar{
        position: relative;
        overflow-x: hidden;
        height: 100vh;
    }
    .displayLimit {
        display: none;
    }
    .warning{
        display: none;
    }
    #main {
        height: 100vh;
    }
    .title{
        margin-left: 0px;
        text-align: center;
    }
    textarea{
        width: 100%;
        margin-bottom: 10px;
    }
    .menu{
        display: none;
    }
    .optionMenuMobile{
        display: block;
        margin-bottom: 10px;
    }
    .info3{
        text-align: center;
        margin-left: 5px;
    }
    .downloadButton {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    
    
}